// Главный файл, где пишутся и куда подключаются все стили проекта

// Адаптивное свойство - используется, если дизайнером предоставлен неполный макет,
// чтобы при уменьшении или увеличении экрана паддинги, размеры шрифта автоматически
// увеличивались / уменьшались в границах от десктопного значения до телефонного
// Подробнее: https://www.youtube.com/watch?v=eaOAY0vIB4U
$maxWidth: 1920; // Для масштабирования, например, текста, если экран будет увеличиваться и станет больше контейнера
$maxWidthContainer: 1200; // Для масштабирования, например, текста, если экран будет уменьшаться и станет меньше контейнера

// Импорт дополнительных файлов стилей и настроек
@import "variables";
@import "../../node_modules/normalize.css/normalize";
@import "start";
@import "mixins/font-face";
@import "mixins/adaptive-value";
@import "fonts";
@import "global";

// Основная часть
html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  &.lock {
    overflow-y: hidden;
  }
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  line-height: calc(24 / 15);
  color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  .main {
    flex: 1 0 auto;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 30px;
}

// HEADER
.header {
  position: relative;
  a {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      bottom: -8px;
      width: 100%;
      height: 1px;
      left: 0;
      background-color: #aaa;
      transition: transform 0.2s, opacity 0.2s;
      opacity: 0;
      transform: translateY(5px);
    }
    &:hover {
      &::before {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
    align-items: center;
  }
  &__logo-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    &::before {
      display: none;
    }
  }
  &__logo {
    margin-right: 12px;
  }
  &__logo-info-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 125px;
  }
  &__logo-title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(20.4 / 24);
    margin-bottom: 6px;
  }
  &__logo-text {
    font-size: 13px;
    line-height: calc(18.2 / 13);
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    @include adaptive-value("margin-left", 110, -250, 1);
  }
  &__info-wrapper {
    display: flex;
    align-items: center;
  }
  &__phone {
    font-size: 18px;
    font-weight: 700;
    line-height: calc(15.3 / 18);
    letter-spacing: 0.3px;
    margin-right: 14px;
    margin-right: 16px;
  }
  &__phone-link {
  }
  &__whatsapp-telegram {
    font-size: 13px;
    line-height: calc(18.2 / 13);
    letter-spacing: 0.1px;
    padding-left: 29px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background: url("../images/icons/iсons-tovar-whatsapp.svg") center/contain no-repeat;
    }
  }
  &__whatsapp-link {
    span {
      display: none;
    }
  }
  &__telegram-link {
    span {
      display: none;
    }
  }
  &__links-wrapper {
    display: flex;
    margin: 0 -14px;
  }
  &__link-item {
    margin: 0 14px;
  }
  &__link {
    line-height: calc(21 / 15);
    transition: color 0.2s;
    &::before {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1px;
      width: 100%;
      height: 1px;
      background-color: #666;
      transition: width 0.2s, background-color 0.2s;
    }
    &:hover {
      color: #006ddd;
      &::after {
        width: 0;
        background-color: #006ddd;
      }
    }
  }
  &__vk {
  }
  &__vk-link {
    &::before {
      display: none;
    }
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      width: 45px;
      height: 45px;
      background-color: #f3f3f3;
      border-radius: 50%;
      left: 0;
      top: 0;
      transform: translate(-23%, -30%);
      transition: background-color 0.2s;
      cursor: pointer;
      z-index: 1;
    }
    &:hover {
      &::after {
        background-color: #e0e0e0;
      }
    }
  }
  &__vk-link-img {
    position: relative;
    z-index: 3;
  }
  &__burger {
    cursor: pointer;
    position: relative;
    z-index: 20;
  }
}

// MAIN
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__advantages {
    padding: 35px 0 43px;
  }
  &__categories {
    @include adaptive-value("margin-bottom", 50, 42, 1);
    &--margin-top {
      margin-top: 45px;
    }
  }
  &__quick {
    @include adaptive-value("margin-bottom", 45, 38, 1);
    flex: 1 0 auto;
  }
  &__address {
  }
}

// ADVANTAGES
.advantages {
  &__swiper {
    overflow: visible;
  }
  &__swiper-wrapper {
  }
  &__swiper-slide {
    border-radius: 24px;
    background-color: #ffe9a4;
    height: 150px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__swiper-slide-inner {
    padding: 27px;
  }
  &__swiper-slide-text {
    width: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21.6 / 18);
  }
}

.categories {
  &__inner {
  }
  &__title {
    @include adaptive-value("margin-bottom", 45, 27, 1);
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px -8px;
  }
  &__item {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 15px 8px;
  }
  &__item-inner {
    padding: 25px 25px 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 280px;
  }
  &__item-img-wrapper {
    margin-bottom: 23px;
  }
  &__item-img {
    display: block;
  }
  &__item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: calc(26 / 20);
    margin-bottom: 17px;
    flex: 1 0 auto;
  }
  &__item-btn-wrapper {
    width: 100%;
  }
  &__item-btn {
    padding: 15px 0;
    font-size: 15px;
    font-weight: 700;
    line-height: calc(12.75 / 15);
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background-color: #ffd24d;
    transition: background-color 0.2s;
    &:hover {
      background: darken(#ffd24d, 20%);
    }
  }
  &__swiper {
    .categories__list {
      display: block;
      margin: 0;
    }
    .categories__item {
      margin: 0;
    }
    .categories__item-inner {
      margin: 0 auto;
    }
  }
  &__swiper {
    overflow: visible;
  }
  &__swiper-button-prev {
    left: -30px;
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 35px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("../images/icons/arrow-left-grey.svg") center/contain no-repeat;
    }
  }
  &__swiper-button-next {
    right: -30px;
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 35px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("../images/icons/arrow-right-grey.svg") center/contain no-repeat;
    }
  }
}

// QUICK
.quick {
  &__inner {
  }
  &__title {
    @include adaptive-value("font-size", 24, 21, 1);
    font-weight: 700;
    line-height: calc(28.8 / 24);
    @include adaptive-value("margin-bottom", 28, 19, 1);
  }
  &__main-text-wrapper {
  }
  &__main-text {
    @include adaptive-value("font-size", 15, 13, 1);
    line-height: calc(24 / 15);
  }
}

// ADDRESS
.address {
  background: #fff4d5;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 25px;
  }
  &__text-address {
    display: flex;
    align-items: center;
  }
  &__copy {
    font-size: 13px;
    font-weight: 700;
    line-height: calc(11.05 / 13);
    margin-right: 12px;
  }
  &__address {
    font-size: 13px;
    @include adaptive-value("font-size", 13, 11, 1);
    line-height: calc(16.9 / 13);
  }
  &__pay-list {
    display: flex;
    align-items: center;
    margin: 0 -5px;
  }
  &__pay-item {
    margin: 0 5px;
    cursor: pointer;
  }
  &__pay-item-img {
  }
}

// PRIVACY
.privacy {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 35px;
  }
  &__link {
    position: relative;
    @include adaptive-value("font-size", 15, 12, 1);
    transition: color 0.2s;
    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #a1a1a1;
      transition: background-color 0.2s;
    }
    &:hover {
      color: #006ddd;
      &::before {
        background-color: #006ddd;
      }
    }
  }
}

.delivery {
  flex: 1 0 auto;
  &__inner {
    padding-top: 65px;
    padding-bottom: 60px;
  }
  &__title {
    margin-bottom: 42px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    &:nth-child(1) {
      .delivery__item-title {
        &::before {
          background: url("../images/icons/iсons-delivery-car.svg") center/contain no-repeat;
        }
      }
    }
    &:nth-child(2) {
      .delivery__item-title {
        &::before {
          background: url("../images/icons/iсons-delivery-map.svg") center/contain no-repeat;
        }
      }
    }
    &:nth-child(3) {
      .delivery__item-title {
        &::before {
          background: url("../images/icons/iсons-delivery-air.svg") center/contain no-repeat;
        }
      }
    }
  }
  &__item + &__item {
    margin-top: 50px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #eee;
      left: 0;
      top: -25px;
    }
  }
  &__item-title {
    font-weight: 700;
    @include adaptive-value("font-size", 22, 19, 1);
    line-height: calc(26.4 / 22);
    margin-bottom: 26px;
    padding-left: 52px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__text {
    font-size: 15px;
    line-height: calc(24 / 15);
  }
}

.kontakty {
  flex: 1 0 auto;
  &__inner {
    padding-top: 65px;
    padding-bottom: 60px;
  }
  &__title {
    margin-bottom: 42px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    &:nth-child(1) {
      .kontakty__item-title {
        &::before {
          background: url("../images/icons/iсons-contacts-phone.svg") center/contain no-repeat;
        }
      }
    }
    &:nth-child(2) {
      .kontakty__item-title {
        &::before {
          background: url("../images/icons/iсons-contacts-map.svg") center/contain no-repeat;
        }
      }
    }
    &:nth-child(3) {
      .kontakty__item-title {
        &::before {
          background: url("../images/icons/iсons-contacts-social.svg") center/contain no-repeat;
        }
      }
    }
  }
  &__item + &__item {
    margin-top: 50px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #eee;
      left: 0;
      top: -25px;
    }
  }
  &__item-title {
    font-weight: 700;
    @include adaptive-value("font-size", 22, 19, 1);
    line-height: calc(26.4 / 22);
    margin-bottom: 26px;
    padding-left: 52px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 37px;
      height: 37px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__text {
    font-size: 15px;
    line-height: calc(24 / 15);
    a {
      color: #006ddd;
      position: relative;
      transition: color 0.2s;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1px;
        height: 1px;
        width: 100%;
        background-color: #006ddd;
        transition: width 0.2s;
      }
      &:hover {
        color: darken(#006ddd, 20%);
        &::before {
          width: 0;
        }
      }
    }
  }
}

.tovar {
  margin-bottom: 20px;
}

.reviews {
  margin-bottom: 40px;
  &__title {
    font-size: 22px;
    font-weight: 700;
    @include adaptive-value("margin-bottom", 25, 20, 1);
  }
  &__text {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

.categories {
  &--flex-big {
    flex: 1 0 auto;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__catalog {
    text-align: center;
    margin-left: 22px;
    &--no-ml {
      margin-left: 0;
      .categories__catalog-link {
        @include adaptive-value("margin-bottom", 42, 29, 1);
      }
    }
  }

  &__catalog-link {
    margin-bottom: 42px;
    padding: 14px 20px 14px 35px;
    border: 2px solid #ffd24e;
    border-radius: 30px;
    position: relative;
    transition: border-color 0.2s;
    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 13px;
      left: 18px;
      top: 50%;
      transform: translateY(-50%);
      background: url("../images/icons/arrow-left-little.svg") center/contain no-repeat;
    }
    &:hover {
      border-color: darken(#ffd24e, 20%);
    }
  }

  &__item-text {
    font-size: 15px;
    line-height: calc(19.5 / 15);
    max-width: 170px;
    margin-bottom: 13px;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 31px;
  }
}

.tovar {
  &__inner {
    display: flex;
  }
  &__slider {
    flex: 0 0 50%;
    margin-right: 60px;
    min-width: 0;
    position: relative;
    min-height: 100%;
  }
  &__info {
    flex: 0 0 50%;
  }
  &__title {
    @include adaptive-value("font-size", 30, 25, 1);
    font-weight: 700;
    line-height: calc(36 / 30);
    max-width: 450px;
    margin-bottom: 18px;
  }
  &__link-btn {
    position: relative;
    font-size: 13px;
    line-height: calc(11.05 / 13);
    font-weight: 700;
    padding: 10px 25px 9px 45px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #ffd24e;
    cursor: pointer;
    margin-bottom: 29px;
    &::before {
      content: "";
      position: absolute;
      left: 17px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 19px;
      background: url("../images/icons/copy-link.svg") center/contain no-repeat;
    }
    &.copied {
      border-color: #ccc;
    }
  }
  &__par {
    font-size: 15px;
    line-height: calc(22.5 / 15);
    margin-bottom: 30px;
    a {
      color: #006ddd;
      cursor: pointer;
      position: relative;
      transition: color 0.2s;
      &::after {
        content: "";
        position: absolute;
        bottom: 2px;
        width: 100%;
        height: 1px;
        background-color: #006ddd;
        left: 0;
        transition: background-color 0.2s;
      }
      &:hover {
        color: darken(#006ddd, 20%);
        &::after {
          background-color: darken(#006ddd, 20%);
        }
      }
    }
  }
  &__price-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    flex-wrap: wrap;
    * {
      margin-bottom: 21px;
    }
  }
  &__price-number {
    font-size: 36px;
    font-weight: 700;
    line-height: calc(30.5 / 36);
    margin-right: 12px;
  }
  &__price-img {
    margin-right: 16px;
  }
  &__price-text {
  }
  &__order-btns-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__order-item {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(11.9 / 14);
    width: 250px;
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      user-select: none;
      pointer-events: none;
    }
    &:nth-child(1) {
      &::after {
        width: 18px;
        height: 16px;
        background: url("../images/icons/iсons-tovar-telegram.svg") center/contain no-repeat;
      }
    }
    &:nth-child(2) {
      &::after {
        width: 18px;
        height: 18px;
        background: url("../images/icons/iсons-tovar-whatsapp.svg") center/contain no-repeat;
      }
    }
    &:nth-child(3) {
      &::after {
        width: 15px;
        height: 15px;
        background: url("../images/icons/iсons-tovar-phone.svg") center/contain no-repeat;
      }
    }
  }
  &__order-item + &__order-item {
    margin-top: 16px;
  }
  &__order-link {
    border-radius: 30px;
    padding: 18px 0 18px 26px;
    width: 100%;
    background-color: #ffd24d;
    transition: background-color 0.2s;
    &:hover {
      background-color: darken(#ffd24d, 20%);
    }
  }
  &__swiper {
    margin-left: 100px;
    height: 100%;
  }
  &__swiper-wrapper {
  }
  &__swiper-slide {
  }
  &__swiper-slide-inner {
    height: 100%;
  }
  &__swiper-slide-img-wrapper {
    width: 100%;
    // height: 100%;
    height: auto;
    &--video {
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        width: 52px;
        height: 52px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("../images/icons/play.svg") center/contain no-repeat;
      }
    }
  }
  &__swiper-slide-img {
    width: 100%;
  }
  &__swiper-button-next,
  &__swiper-button-prev {
    display: none;
  }
}

.tovar-mini {
  height: 100%;
  &__swiper {
    max-width: 68px;
    width: 68px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__swiper-wrapper {
  }
  &__swiper-slide {
    max-height: 68px;
    max-width: 68px;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: border 0.2s;
    border-radius: 5px;
    &.swiper-slide-thumb-active {
      border: 2px solid #ffd24d;
    }
  }
  &__swiper-slide-inner {
    width: 100%;
    height: 100%;
  }
  &__swiper-slide-img-wrapper {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &--video {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("../images/icons/play.svg") center/contain no-repeat;
      }
    }
  }
  &__swiper-slide-img {
    max-width: 90%;
    max-height: 90%;
    display: block;
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding: 20px 20px;
  background: #ffd24d;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  font-family: Gilroy;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

.btn:hover {
  background: #e3b838;
}

.chat_wrap {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

.chat_soc {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.chat_btn {
  padding: 13px;
  user-select: none;
}
.btn img {
  margin-right: 13px;
  vertical-align: middle;
}
.chat_btn img {
  margin-right: 0 !important;
}

.chat_soc a {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.chat_soc.active {
  visibility: visible;
  opacity: 1;
}

*::-webkit-scrollbar {
  width: 14px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: #cacaca; /* цвет плашки */
  &:hover {
    background-color: #aaa;
  }
  &:active {
    background-color: #888;
  }
  border-radius: 10px;
  border: 2px solid #fff; /* padding вокруг плашки */
}

.header__menu::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
}

@import "media";
