// Здесь находятся все медиазапросы, вынесены в отдельный файл для удобства

@media (max-width: 1200px) {
  .categories {
    &__title-wrapper {
      margin: 0 auto;
      display: block;
    }
    .container {
      max-width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .tovar {
    &__inner {
      flex-direction: column;
    }
    &__slider {
      margin-right: 0;
      margin-bottom: 36px;
    }
    &__info {
    }
    &__swiper {
      margin: 0;
      margin-bottom: 30px;
    }
    &__swiper-slide {
      max-height: 450px;
      height: 100%;
    }
    &__swiper-slide-inner {
      max-height: 100%;
      height: 100%;
    }
    &__swiper-slide-img-wrapper {
      max-height: 100%;
      max-width: 100%;
      max-height: 450px;
      width: auto;
      height: 100%;
      width: 450px;
      height: auto;
      margin: 0 auto;
    }
    &__swiper-slide-img {
      max-width: 100%;
      width: auto;
      max-height: 100%;
      max-height: 450px;
      height: 100%;
      width: 450px;
      height: auto;
    }
    &__link-btn {
      margin-bottom: 22px;
    }
    &__price-text {
      margin-bottom: 37px;
    }
    &__order-btns-wrapper {
      align-items: center;
      margin-bottom: 50px;
    }
    &__swiper-button-next,
    &__swiper-button-prev {
      left: 20px;
      display: block;
      color: #fff;
      width: 20px;
      height: 35px;
      &::after {
        content: url("../images/icons/arrow-left-grey.svg");
      }
    }
    &__swiper-button-next {
      right: 20px;
      left: auto;
      &::after {
        content: url("../images/icons/arrow-right-grey.svg");
      }
    }

    .tovar-mini {
      &__swiper {
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        max-width: 340px;
      }
      &__swiper-wrapper {
      }
      &__swiper-slide-inner {
        width: 64px;
        height: 64px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .header {
    &__menu {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100vh;
      background-color: #fff4d5;
      margin: 0;
      padding-top: 165px;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      overflow-y: auto;
      transition: opacity 0.2s;
      &.active {
        opacity: 1;
        pointer-events: initial;
      }
    }

    &__links-wrapper {
      order: -2;
      flex-direction: column;
      align-items: center;
      margin-bottom: 68px;
    }

    &__link-item + &__link-item {
      margin-top: 55px;
    }

    &__link-item:last-child {
      .header__link {
        &::after {
          display: none;
        }
      }
    }

    &__link {
      @include adaptive-value("font-size", 30, 25, 1);
      font-weight: 700;
      &::after {
        bottom: -27px;
        background-color: #fff;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover {
        &::after {
          background-color: #fff !important;
        }
      }
    }

    &__info-wrapper {
      flex-direction: column;
      margin-bottom: 65px;
    }

    &__phone {
      order: 2;
      margin: 0;
      font-size: 25px;
      font-weight: 700;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #000;
      }
    }

    &__phone-link {
      &::before {
        display: none;
      }
    }

    &__whatsapp-telegram {
      margin-bottom: 33px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 700;
      padding-left: 0;
      &::before {
        display: none;
      }
      span {
        display: none;
      }
    }

    &__whatsapp-link {
      position: relative;
      padding: 17px 55px 17px 34px;
      background-color: #ffd24d;
      border-radius: 25px;
      text-align: center;
      margin-bottom: 16px;
      span {
        display: inline !important;
      }
      &::before {
        display: none;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background: url("../images/icons/iсons-tovar-whatsapp.svg") center/contain no-repeat;
      }
    }

    &__telegram-link {
      position: relative;
      padding: 17px 55px 17px 34px;
      background-color: #ffd24d;
      border-radius: 25px;
      text-align: center;
      span {
        display: inline !important;
      }
      &::before {
        display: none;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background: url("../images/icons/iсons-tovar-telegram.svg") center/contain no-repeat;
      }
    }

    &__vk {
      margin-bottom: 70px;
    }

    &__vk-link {
      &::after {
        width: 57px;
        height: 57px;
        transform: translate(-21%, -35%);
      }
    }

    &__vk-link-img {
      width: 32px;
      height: 18px;
    }
  }
}

@media (min-width: 1000px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 920px) {
  .address {
    &__inner {
      flex-direction: column;
    }
    &__text-address {
      margin-bottom: 29px;
      flex-direction: column;
    }
    &__copy {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 700px) {
  .delivery,
  .kontakty {
    &__title {
      text-align: center;
      margin-bottom: 22px;
    }
    &__catalog {
      text-align: center;
    }
    &__catalog-link {
      margin-bottom: 42px;
      padding: 14px 20px 14px 35px;
      border: 2px solid #ffd24e;
      border-radius: 30px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 13px;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        background: url("../images/icons/arrow-left-little.svg") center/contain no-repeat;
      }
    }
  }

  .categories {
    &__title-wrapper {
      flex-direction: column;
    }
    &__catalog {
      margin-left: 0;
    }
  }

  .tovar {
    &__swiper-slide-img-wrapper--video {
      &::before {
        display: none;
      }
    }
  }
}

@media (min-width: 700px) {
  .delivery,
  .kontakty {
    &__catalog-link {
      display: none;
    }
  }
}

@media (max-width: 452px) {
  .tovar {
    &__swiper-button-next,
    &__swiper-button-prev {
      &::after {
        content: url("../images/icons/arrow-left-white.svg");
      }
    }
    &__swiper-button-next {
      &::after {
        content: url("../images/icons/arrow-right-white.svg");
      }
    }
  }
}
